    body {
		font-family: "Montserrat", sans-serif;
		background-image: url('evo1.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
    }
    .hero {
      padding: 80px 0;
      text-align: center;
    }

    .hero h1 {
      font-size: 36px;
      margin-bottom: 20px;
      color: grey;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    h1,
    h2,
    h3 {
      font-family: "Exo", sans-serif;
      font-weight: bold;
	  color: grey;
    }

    .hero p {
      font-size: 16px;
      margin-bottom: 30px;
    }

    .hero .btn {
      margin-bottom: 10px;
    }
    .footer {
      background-color: grey;
      padding: 20px 0;
      text-align: center;
    }

    .footer p {
      color: #000000;
    }

    .product-info {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.85);
      color: #ffffff;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 5px;
      width: calc(100% - 30px);
      max-width: 400px;
    }

    .product-info img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
      background-color: white;
    }

    .btn:hover + .product-info {
      opacity: 1;
    }

    .odmik {
      margin-top: 60px;
    }

    .kontaktozadje {
      background-color: lightgray;
      border-radius: 25px;
    }

    .ponudba {
      color: black;
    }

    .bold {
      font-weight: bold;
    }

    .navbar-brand {
      transition: transform 0.3s;
    }

    .navbar-brand:hover {
      transform: scale(1.3);
    }

    .navbar-nav .nav-link {
      transition: transform 0.3s;
    }

    .navbar-nav .nav-link:hover {
      transform: scale(1.1);
    }
	
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
    }
	
	.navbar-dark .navbar-nav .nav-link{
	  color: #000000;
	}
	
	.navbar-dark .navbar-brand {
	  color: #000000;
	}
    .full-width-rectangle {
      position: relative;
      background-color: rgba(0, 0, 0, 1);
      color: #ffffff;
      padding: 20px;
      text-align: center;
    }
	
    .full-width-rectangle2 {
      position: relative;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff;
      padding: 20px;
	  text-align: center;
      margin: 0;
    }
	table td {
		color: white;
	}
	table th {
		color: grey;
	}
	.bg-DEC20B {
		background-color: grey;
	}
	.container img {
	  max-width: 100%;
	  height: auto;
	  position: center;
	  padding-bottom: 25px;
	}
	.button-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.button-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-top: 20px;
	  max-width: 100%;
	}

	.button {
	  display: inline-block;
	  padding: 10px 20px;
	  margin: 0 10px;
	  background-color: grey;
	  color: black;
	  text-decoration: none;
	  border-radius: 5px;
	  width: 100%;
	  box-sizing: border-box;
	  max-width: 400px;
	  border: 3px solid transparent;
	}

	.button:hover {
	  background-color: black;
	  color: grey;
	  text-decoration: none;
	  border-color: gray;
	}

	.button:active {
	  background-color: lightgray;
	  color: black;
	  text-decoration: none;
	  border: 3px solid white;
	}
	
    .floating-button {
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 70px;
      height: 70px;
      background-color: grey;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
      z-index: 9999;
      transition: transform 0.3s;
    }

    .floating-button:hover {
      transform: scale(1.1);
    }

    .floating-button a {
      color: #000000;
      font-size: 20px;
      text-decoration: none;
    }